body{
    margin:0;
    padding:0;
    background-image: url("images/cover.jpg");
    background-size: 30vh;
    background-position: center;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cover{
    height:200vh;
}
.card-box{
    margin  :0 auto;
    margin-top: 100px;
    display: flex;
    width:90vw;
}
.card{
 
    
    margin:10px;
    height:70vh;
    border-radius: 5px;
    background: rgba(22, 21, 21, 0.801);
    cursor:pointer;
    flex:0.1;
    position: relative;
    transition: flex 0.7s ease-in;
}

.card.active{
    flex:7;
}
h1{
    color :rgb(251, 235, 4);
    text-align: center;
    font-size: 20px;
    padding-top:15px;
}
img{
    width:100%;
    height:280px;
    margin: 0 auto;
    position: relative;

}
.character-detail{
    background-color: rgba(199, 5, 47, 0.89);
    margin-top: 25px;
    height:80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    bottom: 0%;
}
p{
    font-size :11px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 15px;
    color :white;
    margin-left:20px;
    margin-right:20px;
    padding-top: 10px;;
    display:none;
    transition: 0.04s ease-in;
   
}
.card.active p{
    display:block;
   
}

@media (max-width:600px){
    .card-box{
        width:100vw;
    }

    .card:nth-of-type(3){
        display: none;
    }
}