body{
    margin:0;
    padding:0;
    background-image: url("images/cover.jpg");
    background-size: 30vh;
    background-position: center;
 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cover{
    height:120vh;
}
.card-box{
    margin  :0 auto;
    margin-top: 80px;
    display: flex;
    width:95vw;
}
.card{
 
    margin:10px;
    height:65vh;
    border-radius: 5px;
    background: rgba(27, 26, 26, 0.52);
    cursor:pointer;
    border:1px solid rgb(251, 235, 4);
    flex:0.1;
    position: relative;
    transition: flex 0.7s ease-in;
}

.card.active{
    flex:8;
}
.heading-image {
    margin:0 auto;
    margin-top:40px;
    width:100%;

}

.heading-image img{
    height:150px;
    width:250px;
    margin-left:50%;
    transform: translateX(-50%);
}
h1{
    color :rgb(251, 235, 4);
    text-align: center;
    font-size: 20px;
    padding-top:15px;
    text-transform: uppercase;
}
img{
    width:100%;
    height:320px;
    margin: 0 auto;
    position: relative;

}
.character-detail{
    background-color: rgb(144, 0, 31);
    height:90px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0%;
   
}
p{
    font-size :8px;
    font-weight: 550;
    text-transform: uppercase;
    line-height: 15px;
    color :white;
    margin-left:10px;
    margin-right:10px;
    padding-top: -5px;;
    display:none;
    transition: 0.04s ease-in;
   
}
.card.active p{
    display:block;
   
}
/* .card.active .character-detail{
    display: block;
} */
.card:nth-of-type(3),.card:nth-of-type(5){
    display: none;
}

@media (min-width:700px){
    .card-box{
        width:90vw;
    }
    p{
        font-size :11px;
    }
    .card:nth-of-type(3){
        display: block;
    }
    .card{
        flex:2;
    }
    img{
        height:320px;
    }
}
@media (min-width:1000px){
    .card-box{
        width:90vw;
    }

    .card:nth-of-type(3),.card:nth-of-type(5){
        display: block;
    }
    .card{
        flex:2;
        height:60vh;
    }
    .card.active{
        flex:4;
    }
    img{
        height:320px;
        width: 70%;
        margin-left:50%;
        transform: translateX(-50%);
    }
    .character-detail{
        width:100%;
    }
}